<h1>Display your Pirate here</h1>
<p><%=@pirate.name %></p>
<p><%=@pirate.weight %></p>
<p><%=@pirate.height %></p>
<h2>Display your first ship here</h2>

    <p>Name: <%= @ships[0].name %></p><br>
    <p>Type: <%= @ships[0].type %></p><br>
    <p>Booty: <%= @ships[0].booty %></p><br>



<h2>Display your second ship here</h2>
